@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
}

.main-container {
  flex-grow: 1;

}

.page-header {
  color: #000000;
  background: #FFFFFF;

}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  font-weight: 700;
  text-align: center;
  background-color: inherit;
  text-decoration: none;

}

.navigation-link-logo-sedona {
  display: flex;
  width: 140px;
  height: 70px;
  margin-right: 30px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 339px;
  margin: 20px 16px;
}

.navigation-user {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 88px;
  margin-left: auto;
  margin-right: 20px;
  padding: 22px 12px;
}

.main-hero {
  background-image: url("../images/index/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-name-logo-sedona {
  display: block;
  margin: 0 auto;
}

.button-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 160px;
  max-height: 36px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 34px 8px 34px;
  margin-top: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.advantages {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 21px;

}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-subject {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 620px;
  height: 72px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  background-color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.advantages-description-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
}

.advantages-item-blue {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.advantages-container-blue {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #82B3D3;
}

.advantages-title {
  margin: 0 112.5px;
  padding-top: 102px;
  align-items: center;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
}


.advantages-description-slogan {
  margin-top: 62px;
  padding: 0 85px;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  font-weight: 400;
  text-transform: none;
}

.advantages-item {
  display: block;
  justify-content: center;
  box-sizing: border-box;
  width: 400px;
  margin: 0;
  padding: 112.5px 85px;
}

.advantages-subtitle {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.services-title-subject {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.services-item-house,
.services-item-souvenirs {
  background-color: #83B3D3;
  text-align: center;
  width: 400px;
  padding: 81px 85px;
}

.services-item {
  text-align: center;
  background-color: #FFFFFF;
  width: 400px;
  padding: 81px 85px;
}

.services-description-slogan {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
  text-align: center;

}

.services-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.services-title-eat {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.services-description-house,
.services-description-souvenirs {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.search-hotel {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.search-container {
  display: block;
  margin: 96px 0;
  width: 592px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
}

.search-hotel-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  background-size: 376px 52px;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
  text-align: center;
  text-transform: uppercase;
}

.subscribes {
  display: flex;
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  background-image: url("../images/index/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribes-container {
  display: flex;
  flex-direction: column;
  width: 684px;
  margin-top: 96px;
  margin-bottom: 104px;
}

.subscribes-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.subscribes-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  background-size: 232px 52px;
  border-radius: 0 4px 4px 0;
  border: hidden;
  padding: 8px 50px;
  text-transform: uppercase;
}

.page-footer {
  display: flex;
  justify-content: baseline;
  width: 1200px;
  padding: 0 70px;
}

.footer-container {
  display: flex;
  justify-content: baseline;
  margin-top: 40px;
  margin-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 142px;
  list-style: none;
  padding-left: 0;
}

.footer-phone-number {
  display: flex;
  justify-content: center;
  margin: 0 41.5px;
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration-line: none;
}

/* Catalog */

.main-hero-catalog {
  margin: 0;
  background-image: url("../images/catalog/background-filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-hero-catalog .main-title {
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;

}

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration-line: none;
}

.filter-search-infrastructure {
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
  background-color: #000000;
}

.filter-container {
  display: inline;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0;
}

.infrastructure-group {
  display: block;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.filter-search-type-house {
  display: block;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.filter-search-price {
  display: block;
  width: 288px;
}

.infrastructure-title,
.filter-search-type-house-title,
.filter-search-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.infrastructure-list {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  list-style: none;
}

.filter-search-type-house-list {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  list-style: none;
}

.price-from,
.price-to {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.button-submit {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  background-size: 191px 36px;
  border-radius: 4px;
  border: none;
  padding: 8px 50px 8px 50px;
  gap: 10px;
  margin: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #00000080;
  background-size: 191px 36px;
  border-radius: 4px;
  border: none;
  padding: 8px 50px 8px 50px;
  gap: 10px;
  margin: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 50px;
}

.catalog-control-view-list {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.catalog-title {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
}

.catalog-control {
  display: flex;
  width: 292px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
}

.button-control-view-table {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid#000000;
  border-radius: 4px;
  padding: 14px, 12px, 14px, 12px;
}

.catalog-control-icon-table {

  margin-top: 16px;
  margin-left: 15px;
}

.button-control-view-sketch {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid#E5E5E5;
  border-radius: 4px;
  padding: 14px, 12px, 14px, 12px;
}

.catalog-control-icon-sketch {

  margin-top: 16px;
  margin-left: 15px;
}

.button-control-view-list {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid#E5E5E5;
  border-radius: 4px;
  padding: 14px, 12px, 14px, 12px;
}

.catalog-control-icon-list {

  margin-top: 16px;
  margin-left: 15px;
}

.hotel-card-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 1200px;
  margin: 0;
  padding: 0 70px;
}

.hotel-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1060px;
}

.hotel-card-link {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration-line: none;
}

.hotel-card-item {
  display: block;
  justify-content: space-between;
  width: 340px;
  padding: 20px;
}

.hotel-card-item p {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
}

.button-hotel-card-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  background-size: 140px 36px;
  border-radius: 4px;
  border: none;
  padding: 8px 50px 8px 50px;
  margin: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.hotel-card-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  background-size: 140px 36px;
  border-radius: 4px;
  border: none;
  padding: 8px 50px 8px 50px;
  margin: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  background-size: 140px 36px;
  border-radius: 4px;
  border: none;
  padding: 8px 50px 8px 50px;
  margin: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  list-style: none;
  padding: 0;
  margin-left: 70px;
}

.pagination-current {
  display: block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-image: url("../images/catalog/pagination-selected.svg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  text-decoration: none;
  text-transform: none;
  padding: 12px 25px;
}

.pagination-link-hidden-pages {
  display: block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  text-decoration: none;
  text-transform: none;
  padding: 12px 23px;
}

.pagination-link {
  display: block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-image: url("../images/catalog/pagination-unselected.svg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  text-decoration: none;
  text-transform: none;
  padding: 12px 25px;
  margin-left: 8px;
}

.pagination-link-last-page {
  display: block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-image: url("../images/catalog/pagination-unselected.svg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  text-decoration: none;
  text-transform: none;
  padding: 12px 20px;
}

.subscribes-catalog {
  display: flex;
  justify-content: center;
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  background-color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
}

.subscribes-catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.footer-social-list {
  list-style: none;
}
