@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;

}

.main-container {
  flex-grow: 1;

}

.page-header {
  color: #000000;
  background: #FFFFFF;

}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  font-weight: 700;
  text-align: center;
  background-color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 20px 16px;

}

.navigation-link-logo-sedona {
  display: flex;
  min-width: 140px;
  margin-right: 30px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 339px;
  margin: 20px 16px;
}

.navigation-user {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 88px;
  margin-left: auto;
  margin-right: 20px;
  padding: 0;
}

.navigation-link-icon {
  display: block;
  margin: 0;
  padding: 22px 12px;
}

.main-hero {
  background-image: url("../images/index/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 81px;
}

.main-name-logo-sedona {
  display: block;
  margin: 0 auto;

}

.button-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 160px;
  max-height: 36px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 34px 8px 34px;
  margin-top: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.advantages {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  padding-top: 69px;

}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 90px;
  padding: 0;
  list-style: none;
}

.advantages-subject {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 25px;
  width: 620px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  background-color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.advantages-description-subtitle {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;

}

.advantages-item-blue {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.advantages-container-blue {

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 400px;
  padding: 102px 85px;
  background-color: #82B3D3;
}

.advantages-title {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
}


.advantages-description-slogan {
  margin: 0;
  margin-top: 62px;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  font-weight: 400;
  text-transform: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 400px;
  margin: 0;
  padding: 0;
  padding: 112.5px 85px;
}

.advantages-subtitle {
  margin: 0;
  padding: 0;
  width: 175px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  margin-top: 62px;
}

.services {
  margin: 0;
  margin-top: 64px;

}

.services-container {
  display: flex;
  max-width: 505px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  width: 1200px;
  margin: 0;
  padding: 0;
  margin-top: 64px;
}

.services-title-subject {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.services-item-house,
.services-item-souvenirs {
  background-color: #F2F2F2;
  text-align: center;
  width: 400px;
  padding: 81px 85px;
}

.services-item {
  text-align: center;
  background-color: #FFFFFF;
  width: 400px;
  padding: 81px 85px;
}

.services-description-slogan {
  margin: 0;
  padding-top: 20px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
  text-align: center;

}

.services-title {
  margin: 0;
  margin-top: 30px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.services-description {
  margin: 0;
  margin-top: 30px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.search-hotel {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 96px;
  text-align: center;
  text-transform: uppercase;
}

.search-container {
  display: block;
  margin: 0;
  width: 592px;
}

.search-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.search-description {
  margin: 0;
  margin-top: 20px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
}

.search-hotel-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  background-size: 376px 52px;
  border-radius: 4px;
  border: none;
  margin: 0;
  margin-top: 54px;
  padding: 8px 50px;
  text-align: center;
  text-transform: uppercase;
}

.subscribes {
  display: flex;
  margin: 0;
  margin-top: 96px;
  padding: 0;
  padding-top: 96px;
  padding-bottom: 104px;
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  background-image: url("../images/index/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribes-container {
  display: flex;
  flex-direction: column;
  width: 684px;
  margin: 0;
}

.subscribes-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.subscribes-description {
  margin: 0;
  margin-top: 20px;
}

.subscribes-newsletter-form {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 54px;

}

input[type="email"] {
  display: flex;
  width: 452px;
  height: 52px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 4px 0 0 4px;
  border: hidden;
}

.subscribes-button {
  margin: 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  background-size: 232px 52px;
  border-radius: 0 4px 4px 0;
  border: hidden;
  padding: 8px 50px;
  text-transform: uppercase;
}

.page-footer {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0;
  margin-top: 40px;
  padding: 0 70px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;

}

.social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button-social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 47.33px;
  height: 40px;
}

.footer-phone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-phone-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 41.5px;
  padding: 0;
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration-line: none;
}

.footer-contacts-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* -------------------------------------------------------------------Catalog ---------------------------------------------------------------*/
.main-hero-catalog {
  margin: 0;
  padding: 70px;
  padding-top: 35px;
  background-image: url("../images/catalog/background-filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-hero-catalog .main-title {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;

}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: start;
  align-items: center;
  margin-top: 8px;

}

.breadcrumbs-link {
  display: flex;
   margin-right: 28px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration-line: none;
}

.filter-search-infrastructure {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #FFFFFF;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.infrastructure-group {
  display: block;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-search-type-house {
  display: block;
  justify-content: center;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  border: none;
}

.filter-search-price {
  display: flex;
  width: 288px;
  border: none;
  margin-right: 70px;
}

.filter-search-buttom {
  display: flex;
  flex-direction: column;
  width: 191px;
  margin-top: 56px;
  margin-left: 0;
}

.infrastructure-title,
.filter-search-type-house-title,
.filter-search-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.infrastructure-list {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  list-style: none;
  padding: 0;
}

.filter-search-type-house-list {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  list-style: none;
  padding: 0;
}

.price-from,
.price-to {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.button-submit {
  display: block;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 191px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
}

.button-reset {
  display: block;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 191px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #00000080;
  background-size: 191px 36px;
  border-radius: 4px;
  border: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 50px;
  padding: 0 70px;
}

.catalog-control-view-list {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  margin-right: 200px;
}

.catalog-control {
  display: flex;
  width: 292px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
  margin-right: 70px;
}

.button-control-view-table {
  display: block;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid#000000;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

.catalog-control-icon-table {
  margin-top: 16px;
  margin-left: 15px;
}

.button-control-view-sketch {
  display: block;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid#E5E5E5;
  border-radius: 4px;
  margin: 0;
  padding: 0;

}

.catalog-control-icon-sketch {

  margin-top: 16px;
  margin-left: 15px;
}

.button-control-view-list {
  display: block;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid#E5E5E5;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

.catalog-control-icon-list {

  margin-top: 16px;
  margin-left: 15px;
}

.hotel-card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
  margin: 40px 70px 0 70px;
  padding: 0;
}

/*.hotel-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}*/

.hotel-card-link {
  display: block;
  justify-content: flex-start;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration-line: none;
  padding: 0;
}

.hotel-card-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  width: 340px;
  padding: 20px;
}

.hotel-card-title {
  margin: 0;
  margin-top: 16px;
}

.hotel-card-item p {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
  margin-top: 16px;
}

.button-hotel-card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  width: 140px;
  height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
}

.hotel-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
}

.hotel-card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-top: 80px;
}

.pagination-item:not(:first-child) {
  margin-left: 8px;
}

.pagination-current {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-image: url("../images/catalog/pagination-selected.svg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  text-decoration: none;
  text-transform: none;
  width: 60px;
  height: 60px;
  padding: 0;
}

.pagination-link-hidden-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  text-decoration: none;
  text-transform: none;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-image: url("../images/catalog/pagination-unselected.svg");
  background-repeat: no-repeat;
  text-decoration: none;
  text-transform: none;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
}

.pagination-link-last-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-image: url("../images/catalog/pagination-unselected.svg");
  background-repeat: no-repeat;
  text-decoration: none;
  text-transform: none;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
}

.subscribes-catalog {
  display: flex;
  justify-content: center;
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  background-color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  margin-top: 156px;
}

.subscribes-catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.footer-social-list {
  list-style: none;
}
